# Keil uVision 输出
example/
smallcar_keil/Objects/
smallcar_keil/Listings/
smallcar_keil/DebugConfig/
smallcar_keil/RTE/_Target_1/
smallcar_keil/EventRecorderStub.scvd
esp32_cam/CameraWebServer/build
*.axf
*.lnp
*.dep
*.crf
*.d
*.o
*.map
*.htm
*.lst

# Keil GUI 布局文件（没必要入库）
*.uvguix.*